
<div class="container">
  <div class="row text-center ">
    
    <div class="col-6 mt-5">
      <h1 class="mb-5">Potenciamos su Negocio a Través de Soluciones de Tecnologicas de Vanguardia</h1>
      <p>
        ¡Bienvenidos a Tecnologia Bumerak!
          
        En un mundo donde la tecnología avanza 
        a pasos agigantados, es esencial contar 
        con un socio confiable que no solo comprenda 
        sus necesidades, sino que también ofrezca soluciones 
        innovadoras para llevar su negocio al siguiente nivel. 
        En Tecnologia Bumerak,
        nos especializamos en ofrecer soluciones de TI meticulosamente diseñadas para garantizar su éxito
      </p>
	</div>  
    <div class="col-6">
		<div  class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="assets/img/cableado.webp" alt="trabajador" >
			  </div>
			  <div class="carousel-item">
				<img src="..." class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item">
				<img src="..." class="d-block w-100" alt="...">
			  </div>
			</div>
		  </div>
    
  	</div>   
</div>
@for (producto of productos; track producto) {
<div class="container dos px-4 py-5" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{producto.name}}</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/img/sin letras pero png.png" alt="Bumerak" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>{{producto.price}}</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>€</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
</div> 
  
}     
