
<div class="container">
  <div class="raw">
    <div class="col">

      @if (isUpdate) {
        <h1 class="mt-5 mb-5"> actualizar  el producto  con el ID {{producFrom.get('id')?.value}}</h1>
      }@else {
        <h1 class="mt-5 mb-5">Crear Un Producto</h1>
      }
      
      <form [formGroup]="producFrom" (ngSubmit)="save()">

        <input type="hidden" formControlName="id">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" formControlName="name">
          <label for="name">Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="price" formControlName="price" step="0.01">
          <label for="price">Precio en euros (€)</label>
        </div>
        <div class="form-floating mb-3">

          <select class="form-select" id="category" formControlName="category">
         @for (type of category; track type) {
          <option [value]="type">{{ type }}</option>
         }
          </select>
          <label for="category">selesciona un Category</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="stock" formControlName="stock" step="0.01">
          <label for="stock">Stock</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="description" formControlName="description" >
          <label for="description">Description</label>
        </div>
        

        @if (isUpdate) {
          <button class="btn btn-success"  type="submit">Actualizar</button>
        } @else {
          <button class="btn btn-success" type="submit">Crear</button>
        }


      </form>
    </div>

  </div>

</div>