<section>
    <div class="container">
        <div class="row ">
            <div class="col align-self-start">
               <h1> Visión</h1>
                  <p>  
                    "Ser líderes globales en soluciones tecnológicas integrales, 
                    proporcionando seguridad avanzada, sistemas electrónicos innovadores 
                    y servicios de programación web de vanguardia que transformen la forma
                     en que las personas y las empresas interactúan con el mundo digital."
                </p>
            </div>
            <div class="col align-self-end">
                <p>  
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                <h1>Misión</h1>
                <p>
                "Nuestra misión es proteger, innovar y conectar. Nos dedicamos a desarrollar
                y ofrecer productos y servicios de seguridad de última generación, sistemas 
                electrónicos eficientes y soluciones de programación web personalizadas que satisfagan
                las necesidades únicas de nuestros clientes. Comprometidos con la excelencia y la innovación 
                continua, buscamos mejorar la seguridad, eficiencia y conectividad de nuestros clientes, garantizando 
                 su éxito en un entorno digital en constante evolución."
                </p>
            </div>
        </div>
    </div>
</section>



    
