<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="https://linetechperu.com/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="assets/img/logo.png" alt="" style="width: 200px ;">
          
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <i class="bi bi-house-door"width="24" height="24"></i>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="bi bi-speedometer2"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="bi bi-cart4"></i>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white" routerLink="productos">
              <i class="bi bi-box-seam"></i>
              Product
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="bi bi-person-bounding-box"></i>
              Customers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
    
 
</header>
